openapi: 3.2.0
info:
  description: Fast Healthcare Interoperability Resources (FHIR, pronounced "Fire") defines a set of "Resources" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple XML or JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation.
  title: Untitled Medication API
  version: unspecified
servers:
- url: https://api.prod.devoted.com/fhir/
tags:
- name: Medication
paths:
  /Medication:
    get:
      tags:
      - Medication
      parameters:
      - name: patient
        in: query
        description: The patient to return MedicationRequests for. It is a required field.
        schema:
          type: string
      - name: _format
        in: query
        x-consoleDefault: application/json
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Medication'
      summary: Get medication
      x-summary-source: derived
      operationId: getMedication
      x-operation-id-source: derived
components:
  schemas:
    Medication:
      description: ''
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        text:
          type: object
          properties:
            status:
              type: string
              minLength: 1
            div:
              type: string
              minLength: 1
          required:
          - status
          - div
        code:
          type: object
          properties:
            coding:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                - system
                - code
                - display
                properties:
                  system:
                    type: string
                    minLength: 1
                  code:
                    type: string
                    minLength: 1
                  display:
                    type: string
                    minLength: 1
                  _display:
                    type: object
                    properties:
                      fhir_comments:
                        type: array
                        items:
                          properties: {}
                    required:
                    - fhir_comments
          required:
          - coding
        isBrand:
          type: boolean
        package:
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                properties: {}
            container:
              type: object
              properties:
                coding:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    required:
                    - system
                    - code
                    - display
                    properties:
                      system:
                        type: string
                        minLength: 1
                      code:
                        type: string
                        minLength: 1
                      display:
                        type: string
                        minLength: 1
              required:
              - coding
          required:
          - fhir_comments
          - container
      required:
      - resourceType
      - id
      - text
      - code
      - isBrand
      - package
