openapi: 3.2.0
info:
  title: HAPI FHIR Server Value Set API
  contact: {}
  version: 6.6.0
  description: The ValueSet FHIR resource type
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: ValueSet
  description: The ValueSet FHIR resource type
paths:
  /ValueSet/$validate-code:
    get:
      tags:
      - ValueSet
      parameters:
      - name: url
        in: query
        required: false
        style: simple
      - name: valueSetVersion
        in: query
        required: false
        style: simple
      - name: code
        in: query
        required: false
        style: simple
      - name: system
        in: query
        required: false
        style: simple
      - name: systemVersion
        in: query
        required: false
        style: simple
      - name: display
        in: query
        required: false
        style: simple
      - name: coding
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get value set $validate code
      x-summary-source: derived
      operationId: getValueSet$validateCode
      x-operation-id-source: derived
    post:
      tags:
      - ValueSet
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"url\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"valueSetVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"code\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"system\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"systemVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"display\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"coding\",\n    \"valueCoding\": {\n      \"system\": \"http://example.com\",\n      \"code\": \"1234\"\n    }\n  }, {\n    \"name\": \"codeableConcept\",\n    \"valueCodeableConcept\": {\n      \"coding\": [ {\n        \"system\": \"http://example.com\",\n        \"code\": \"1234\"\n      } ]\n    }\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create value set $validate code
      x-summary-source: derived
      operationId: postValueSet$validateCode
      x-operation-id-source: derived
  /ValueSet/{id}/$validate-code:
    get:
      tags:
      - ValueSet
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: url
        in: query
        required: false
        style: simple
      - name: valueSetVersion
        in: query
        required: false
        style: simple
      - name: code
        in: query
        required: false
        style: simple
      - name: system
        in: query
        required: false
        style: simple
      - name: systemVersion
        in: query
        required: false
        style: simple
      - name: display
        in: query
        required: false
        style: simple
      - name: coding
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get value set by id $validate code
      x-summary-source: derived
      operationId: getValueSetById$validateCode
      x-operation-id-source: derived
    post:
      tags:
      - ValueSet
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"url\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"valueSetVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"code\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"system\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"systemVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"display\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"coding\",\n    \"valueCoding\": {\n      \"system\": \"http://example.com\",\n      \"code\": \"1234\"\n    }\n  }, {\n    \"name\": \"codeableConcept\",\n    \"valueCodeableConcept\": {\n      \"coding\": [ {\n        \"system\": \"http://example.com\",\n        \"code\": \"1234\"\n      } ]\n    }\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create value set by id $validate code
      x-summary-source: derived
      operationId: postValueSetById$validateCode
      x-operation-id-source: derived
  /ValueSet/{id}/$invalidate-expansion:
    post:
      tags:
      - ValueSet
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create value set by id $invalidate expansion
      x-summary-source: derived
      operationId: postValueSetById$invalidateExpansion
      x-operation-id-source: derived
  /ValueSet/$expand:
    get:
      tags:
      - ValueSet
      parameters:
      - name: url
        in: query
        required: false
        style: simple
      - name: valueSetVersion
        in: query
        required: false
        style: simple
      - name: filter
        in: query
        required: false
        style: simple
      - name: context
        in: query
        required: false
        style: simple
      - name: contextDirection
        in: query
        required: false
        style: simple
      - name: offset
        in: query
        required: false
        style: simple
      - name: count
        in: query
        required: false
        style: simple
      - name: displayLanguage
        in: query
        required: false
        style: simple
      - name: includeHierarchy
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get value set $expand
      x-summary-source: derived
      operationId: getValueSet$expand
      x-operation-id-source: derived
    post:
      tags:
      - ValueSet
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"valueSet\",\n    \"resource\": {\n      \"resourceType\": \"ValueSet\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"url\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"valueSetVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"filter\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"context\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"contextDirection\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"offset\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"count\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"displayLanguage\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"includeHierarchy\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create value set $expand
      x-summary-source: derived
      operationId: postValueSet$expand
      x-operation-id-source: derived
  /ValueSet/{id}/$expand:
    get:
      tags:
      - ValueSet
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: url
        in: query
        required: false
        style: simple
      - name: valueSetVersion
        in: query
        required: false
        style: simple
      - name: filter
        in: query
        required: false
        style: simple
      - name: context
        in: query
        required: false
        style: simple
      - name: contextDirection
        in: query
        required: false
        style: simple
      - name: offset
        in: query
        required: false
        style: simple
      - name: count
        in: query
        required: false
        style: simple
      - name: displayLanguage
        in: query
        required: false
        style: simple
      - name: includeHierarchy
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get value set by id $expand
      x-summary-source: derived
      operationId: getValueSetById$expand
      x-operation-id-source: derived
    post:
      tags:
      - ValueSet
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"valueSet\",\n    \"resource\": {\n      \"resourceType\": \"ValueSet\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"url\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"valueSetVersion\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"filter\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"context\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"contextDirection\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"offset\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"count\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"displayLanguage\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"includeHierarchy\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create value set by id $expand
      x-summary-source: derived
      operationId: postValueSetById$expand
      x-operation-id-source: derived
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
