swagger: '2.0'
info:
  description: "Fast Healthcare Interoperability Resources (FHIR, pronounced \"Fire\") defines a set of \"Resources\" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple XML or JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. \n"
  title: Untitled CodeSystem OrganizationAffiliation API
  version: unspecified
host: api.prod.devoted.com
basePath: /fhir/
schemes:
- https
tags:
- name: OrganizationAffiliation
  description: The OrganizationAffiliation FHIR resource type
paths:
  /OrganizationAffiliation/{id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'read-instance: Read OrganizationAffiliation instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - OrganizationAffiliation
      summary: 'update-instance: Update an existing OrganizationAffiliation instance, or create using a client-assigned ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OrganizationAffiliation\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - OrganizationAffiliation
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - OrganizationAffiliation
      summary: 'instance-patch: Patch a resource instance of type OrganizationAffiliation by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/_history/{version_id}:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'vread-instance: Read OrganizationAffiliation instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'search-type: Search for OrganizationAffiliation instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: The period during which the participatingOrganization is affiliated with the primary organization
        style: simple
      - name: identifier
        in: query
        description: An organization affiliation's Identifier
        style: simple
      - name: specialty
        in: query
        description: Specific specialty of the participatingOrganization in the context of the role
        style: simple
      - name: role
        in: query
        description: Definition of the role the participatingOrganization plays
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: Whether this organization affiliation record is in active use
        style: simple
      - name: primary-organization
        in: query
        description: The organization that receives the services from the participating organization
        style: simple
      - name: network
        in: query
        description: Health insurance provider network in which the participatingOrganization provides the role's services (if defined) at the indicated locations (if defined)
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for this role
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: service
        in: query
        description: Healthcare services provided through the role
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: participating-organization
        in: query
        description: The organization that provides services to the primary organization
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location(s) at which the role occurs
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OrganizationAffiliation
      summary: 'create-type: Create a new OrganizationAffiliation instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OrganizationAffiliation\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OrganizationAffiliation xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'type-history: Fetch the resource change history for all resources of type OrganizationAffiliation'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/_history:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'instance-history: Fetch the resource change history for all resources of type OrganizationAffiliation'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/_search:
    get:
      tags:
      - OrganizationAffiliation
      summary: 'search-type: Search for OrganizationAffiliation instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: The period during which the participatingOrganization is affiliated with the primary organization
        style: simple
      - name: identifier
        in: query
        description: An organization affiliation's Identifier
        style: simple
      - name: specialty
        in: query
        description: Specific specialty of the participatingOrganization in the context of the role
        style: simple
      - name: role
        in: query
        description: Definition of the role the participatingOrganization plays
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: Whether this organization affiliation record is in active use
        style: simple
      - name: primary-organization
        in: query
        description: The organization that receives the services from the participating organization
        style: simple
      - name: network
        in: query
        description: Health insurance provider network in which the participatingOrganization provides the role's services (if defined) at the indicated locations (if defined)
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to services operated for this role
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: phone
        in: query
        description: A value in a phone contact
        style: simple
      - name: service
        in: query
        description: Healthcare services provided through the role
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: participating-organization
        in: query
        description: The organization that provides services to the primary organization
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location(s) at which the role occurs
        style: simple
      - name: telecom
        in: query
        description: The value in any kind of contact
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: email
        in: query
        description: A value in an email contact
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OrganizationAffiliation
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"OrganizationAffiliation\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/$validate:
    get:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"OrganizationAffiliation\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/$meta-delete:
    post:
      tags:
      - OrganizationAffiliation
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/$meta-add:
    post:
      tags:
      - OrganizationAffiliation
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/$meta:
    get:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/$meta:
    get:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OrganizationAffiliation
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/$expunge:
    post:
      tags:
      - OrganizationAffiliation
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OrganizationAffiliation/{id}/$expunge:
    post:
      tags:
      - OrganizationAffiliation
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
