openapi: 3.2.0
info:
  title: Devoted Health Medication API
  version: unspecified
  description: 'Operations tagged Medication across 2 of this provider''s published API definitions: devoted-health-patient-access-openapi-original.json, devoted-health-patient-access-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.devoted.com/fhir/
tags:
- name: Medication
paths:
  /Medication:
    get:
      tags:
      - Medication
      parameters:
      - name: patient
        in: query
        description: The patient to return MedicationRequests for. It is a required field.
        schema:
          type: string
      - name: _format
        in: query
        x-consoleDefault: application/json
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Medication'
    servers:
    - url: https://api.prod.devoted.com/fhir/
components:
  schemas:
    Medication:
      description: ''
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        text:
          type: object
          properties:
            status:
              type: string
              minLength: 1
            div:
              type: string
              minLength: 1
          required:
          - status
          - div
        code:
          type: object
          properties:
            coding:
              type: array
              uniqueItems: true
              minItems: 1
              items:
                required:
                - system
                - code
                - display
                properties:
                  system:
                    type: string
                    minLength: 1
                  code:
                    type: string
                    minLength: 1
                  display:
                    type: string
                    minLength: 1
                  _display:
                    type: object
                    properties:
                      fhir_comments:
                        type: array
                        items:
                          properties: {}
                    required:
                    - fhir_comments
          required:
          - coding
        isBrand:
          type: boolean
        package:
          type: object
          properties:
            fhir_comments:
              type: array
              items:
                properties: {}
            container:
              type: object
              properties:
                coding:
                  type: array
                  uniqueItems: true
                  minItems: 1
                  items:
                    required:
                    - system
                    - code
                    - display
                    properties:
                      system:
                        type: string
                        minLength: 1
                      code:
                        type: string
                        minLength: 1
                      display:
                        type: string
                        minLength: 1
              required:
              - coding
          required:
          - fhir_comments
          - container
      required:
      - resourceType
      - id
      - text
      - code
      - isBrand
      - package
x-refined-from:
- devoted-health-patient-access-openapi-original.json
- devoted-health-patient-access-openapi.json
