openapi: 3.2.0
info:
  title: HAPI FHIR Server Operation Definition API
  contact: {}
  version: 6.6.0
  description: The OperationDefinition FHIR resource type
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: OperationDefinition
  description: The OperationDefinition FHIR resource type
paths:
  /OperationDefinition/{id}:
    get:
      tags:
      - OperationDefinition
      summary: 'read-instance: Read OperationDefinition instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - OperationDefinition
      summary: 'update-instance: Update an existing OperationDefinition instance, or create using a client-assigned ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OperationDefinition\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OperationDefinition xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - OperationDefinition
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - OperationDefinition
      summary: 'instance-patch: Patch a resource instance of type OperationDefinition by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/_history/{version_id}:
    get:
      tags:
      - OperationDefinition
      summary: 'vread-instance: Read OperationDefinition instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition:
    get:
      tags:
      - OperationDefinition
      summary: 'search-type: Search for OperationDefinition instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The capability statement publication date\n* [CodeSystem](codesystem.html): The code system publication date\n* [CompartmentDefinition](compartmentdefinition.html): The compartment definition publication date\n* [ConceptMap](conceptmap.html): The concept map publication date\n* [GraphDefinition](graphdefinition.html): The graph definition publication date\n* [ImplementationGuide](implementationguide.html): The implementation guide publication date\n* [MessageDefinition](messagedefinition.html): The message definition publication date\n* [NamingSystem](namingsystem.html): The naming system publication date\n* [OperationDefinition](operationdefinition.html): The operation definition publication date\n* [SearchParameter](searchparameter.html): The search parameter publication date\n* [StructureDefinition](structuredefinition.html): The structure definition publication date\n* [StructureMap](structuremap.html): The structure map publication date\n* [TerminologyCapabilities](terminologycapabilities.html): The terminology capabilities publication date\n* [ValueSet](valueset.html): The value set publication date"
        style: simple
      - name: code
        in: query
        description: Name used to invoke the operation
        style: simple
      - name: instance
        in: query
        description: Invoke on an instance?
        style: simple
      - name: context-type-value
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context type and value assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context type and value assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and value assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context type and value assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context type and value assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context type and value assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context type and value assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context type and value assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context type and value assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context type and value assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context type and value assigned to the structure definition\n* [StructureMap](structuremap.html): A use context type and value assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and value assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context type and value assigned to the value set"
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: jurisdiction
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Intended jurisdiction for the capability statement\n* [CodeSystem](codesystem.html): Intended jurisdiction for the code system\n* [ConceptMap](conceptmap.html): Intended jurisdiction for the concept map\n* [GraphDefinition](graphdefinition.html): Intended jurisdiction for the graph definition\n* [ImplementationGuide](implementationguide.html): Intended jurisdiction for the implementation guide\n* [MessageDefinition](messagedefinition.html): Intended jurisdiction for the message definition\n* [NamingSystem](namingsystem.html): Intended jurisdiction for the naming system\n* [OperationDefinition](operationdefinition.html): Intended jurisdiction for the operation definition\n* [SearchParameter](searchparameter.html): Intended jurisdiction for the search parameter\n* [StructureDefinition](structuredefinition.html): Intended jurisdiction for the structure definition\n* [StructureMap](structuremap.html): Intended jurisdiction for the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Intended jurisdiction for the terminology capabilities\n* [ValueSet](valueset.html): Intended jurisdiction for the value set"
        style: simple
      - name: description
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The description of the capability statement\n* [CodeSystem](codesystem.html): The description of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The description of the compartment definition\n* [ConceptMap](conceptmap.html): The description of the concept map\n* [GraphDefinition](graphdefinition.html): The description of the graph definition\n* [ImplementationGuide](implementationguide.html): The description of the implementation guide\n* [MessageDefinition](messagedefinition.html): The description of the message definition\n* [NamingSystem](namingsystem.html): The description of the naming system\n* [OperationDefinition](operationdefinition.html): The description of the operation definition\n* [SearchParameter](searchparameter.html): The description of the search parameter\n* [StructureDefinition](structuredefinition.html): The description of the structure definition\n* [StructureMap](structuremap.html): The description of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The description of the terminology capabilities\n* [ValueSet](valueset.html): The description of the value set"
        style: simple
      - name: context-type
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A type of use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A type of use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A type of use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A type of use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A type of use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A type of use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A type of use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A type of use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A type of use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A type of use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A type of use context assigned to the structure definition\n* [StructureMap](structuremap.html): A type of use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A type of use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A type of use context assigned to the value set"
        style: simple
      - name: title
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The human-friendly name of the capability statement\n* [CodeSystem](codesystem.html): The human-friendly name of the code system\n* [ConceptMap](conceptmap.html): The human-friendly name of the concept map\n* [ImplementationGuide](implementationguide.html): The human-friendly name of the implementation guide\n* [MessageDefinition](messagedefinition.html): The human-friendly name of the message definition\n* [OperationDefinition](operationdefinition.html): The human-friendly name of the operation definition\n* [StructureDefinition](structuredefinition.html): The human-friendly name of the structure definition\n* [StructureMap](structuremap.html): The human-friendly name of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The human-friendly name of the terminology capabilities\n* [ValueSet](valueset.html): The human-friendly name of the value set"
        style: simple
      - name: type
        in: query
        description: Invoke at the type level?
        style: simple
      - name: context-quantity
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A quantity- or range-valued use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A quantity- or range-valued use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A quantity- or range-valued use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A quantity- or range-valued use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A quantity- or range-valued use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A quantity- or range-valued use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A quantity- or range-valued use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A quantity- or range-valued use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A quantity- or range-valued use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A quantity- or range-valued use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A quantity- or range-valued use context assigned to the structure definition\n* [StructureMap](structuremap.html): A quantity- or range-valued use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A quantity- or range-valued use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A quantity- or range-valued use context assigned to the value set"
        style: simple
      - name: output-profile
        in: query
        description: Validation information for out parameters
        style: simple
      - name: context
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context assigned to the structure definition\n* [StructureMap](structuremap.html): A use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context assigned to the value set"
        style: simple
      - name: context-type-quantity
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context type and quantity- or range-based value assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context type and quantity- or range-based value assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and quantity- or range-based value assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context type and quantity- or range-based value assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context type and quantity- or range-based value assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context type and quantity- or range-based value assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context type and quantity- or range-based value assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context type and quantity- or range-based value assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context type and quantity- or range-based value assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context type and quantity- or range-based value assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context type and quantity- or range-based value assigned to the structure definition\n* [StructureMap](structuremap.html): A use context type and quantity- or range-based value assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and quantity- or range-based value assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context type and quantity- or range-based value assigned to the value set"
        style: simple
      - name: kind
        in: query
        description: operation | query
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: version
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The business version of the capability statement\n* [CodeSystem](codesystem.html): The business version of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The business version of the compartment definition\n* [ConceptMap](conceptmap.html): The business version of the concept map\n* [GraphDefinition](graphdefinition.html): The business version of the graph definition\n* [ImplementationGuide](implementationguide.html): The business version of the implementation guide\n* [MessageDefinition](messagedefinition.html): The business version of the message definition\n* [OperationDefinition](operationdefinition.html): The business version of the operation definition\n* [SearchParameter](searchparameter.html): The business version of the search parameter\n* [StructureDefinition](structuredefinition.html): The business version of the structure definition\n* [StructureMap](structuremap.html): The business version of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The business version of the terminology capabilities\n* [ValueSet](valueset.html): The business version of the value set"
        style: simple
      - name: url
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The uri that identifies the capability statement\n* [CodeSystem](codesystem.html): The uri that identifies the code system\n* [CompartmentDefinition](compartmentdefinition.html): The uri that identifies the compartment definition\n* [ConceptMap](conceptmap.html): The uri that identifies the concept map\n* [GraphDefinition](graphdefinition.html): The uri that identifies the graph definition\n* [ImplementationGuide](implementationguide.html): The uri that identifies the implementation guide\n* [MessageDefinition](messagedefinition.html): The uri that identifies the message definition\n* [OperationDefinition](operationdefinition.html): The uri that identifies the operation definition\n* [SearchParameter](searchparameter.html): The uri that identifies the search parameter\n* [StructureDefinition](structuredefinition.html): The uri that identifies the structure definition\n* [StructureMap](structuremap.html): The uri that identifies the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The uri that identifies the terminology capabilities\n* [ValueSet](valueset.html): The uri that identifies the value set"
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: input-profile
        in: query
        description: Validation information for in parameters
        style: simple
      - name: system
        in: query
        description: Invoke at the system level?
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Computationally friendly name of the capability statement\n* [CodeSystem](codesystem.html): Computationally friendly name of the code system\n* [CompartmentDefinition](compartmentdefinition.html): Computationally friendly name of the compartment definition\n* [ConceptMap](conceptmap.html): Computationally friendly name of the concept map\n* [GraphDefinition](graphdefinition.html): Computationally friendly name of the graph definition\n* [ImplementationGuide](implementationguide.html): Computationally friendly name of the implementation guide\n* [MessageDefinition](messagedefinition.html): Computationally friendly name of the message definition\n* [NamingSystem](namingsystem.html): Computationally friendly name of the naming system\n* [OperationDefinition](operationdefinition.html): Computationally friendly name of the operation definition\n* [SearchParameter](searchparameter.html): Computationally friendly name of the search parameter\n* [StructureDefinition](structuredefinition.html): Computationally friendly name of the structure definition\n* [StructureMap](structuremap.html): Computationally friendly name of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Computationally friendly name of the terminology capabilities\n* [ValueSet](valueset.html): Computationally friendly name of the value set"
        style: simple
      - name: publisher
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Name of the publisher of the capability statement\n* [CodeSystem](codesystem.html): Name of the publisher of the code system\n* [CompartmentDefinition](compartmentdefinition.html): Name of the publisher of the compartment definition\n* [ConceptMap](conceptmap.html): Name of the publisher of the concept map\n* [GraphDefinition](graphdefinition.html): Name of the publisher of the graph definition\n* [ImplementationGuide](implementationguide.html): Name of the publisher of the implementation guide\n* [MessageDefinition](messagedefinition.html): Name of the publisher of the message definition\n* [NamingSystem](namingsystem.html): Name of the publisher of the naming system\n* [OperationDefinition](operationdefinition.html): Name of the publisher of the operation definition\n* [SearchParameter](searchparameter.html): Name of the publisher of the search parameter\n* [StructureDefinition](structuredefinition.html): Name of the publisher of the structure definition\n* [StructureMap](structuremap.html): Name of the publisher of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Name of the publisher of the terminology capabilities\n* [ValueSet](valueset.html): Name of the publisher of the value set"
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The current status of the capability statement\n* [CodeSystem](codesystem.html): The current status of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The current status of the compartment definition\n* [ConceptMap](conceptmap.html): The current status of the concept map\n* [GraphDefinition](graphdefinition.html): The current status of the graph definition\n* [ImplementationGuide](implementationguide.html): The current status of the implementation guide\n* [MessageDefinition](messagedefinition.html): The current status of the message definition\n* [NamingSystem](namingsystem.html): The current status of the naming system\n* [OperationDefinition](operationdefinition.html): The current status of the operation definition\n* [SearchParameter](searchparameter.html): The current status of the search parameter\n* [StructureDefinition](structuredefinition.html): The current status of the structure definition\n* [StructureMap](structuremap.html): The current status of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The current status of the terminology capabilities\n* [ValueSet](valueset.html): The current status of the value set"
        style: simple
      - name: base
        in: query
        description: Marks this as a profile of the base
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OperationDefinition
      summary: 'create-type: Create a new OperationDefinition instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"OperationDefinition\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <OperationDefinition xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/_history:
    get:
      tags:
      - OperationDefinition
      summary: 'type-history: Fetch the resource change history for all resources of type OperationDefinition'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/_history:
    get:
      tags:
      - OperationDefinition
      summary: 'instance-history: Fetch the resource change history for all resources of type OperationDefinition'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/_search:
    get:
      tags:
      - OperationDefinition
      summary: 'search-type: Search for OperationDefinition instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The capability statement publication date\n* [CodeSystem](codesystem.html): The code system publication date\n* [CompartmentDefinition](compartmentdefinition.html): The compartment definition publication date\n* [ConceptMap](conceptmap.html): The concept map publication date\n* [GraphDefinition](graphdefinition.html): The graph definition publication date\n* [ImplementationGuide](implementationguide.html): The implementation guide publication date\n* [MessageDefinition](messagedefinition.html): The message definition publication date\n* [NamingSystem](namingsystem.html): The naming system publication date\n* [OperationDefinition](operationdefinition.html): The operation definition publication date\n* [SearchParameter](searchparameter.html): The search parameter publication date\n* [StructureDefinition](structuredefinition.html): The structure definition publication date\n* [StructureMap](structuremap.html): The structure map publication date\n* [TerminologyCapabilities](terminologycapabilities.html): The terminology capabilities publication date\n* [ValueSet](valueset.html): The value set publication date"
        style: simple
      - name: code
        in: query
        description: Name used to invoke the operation
        style: simple
      - name: instance
        in: query
        description: Invoke on an instance?
        style: simple
      - name: context-type-value
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context type and value assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context type and value assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and value assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context type and value assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context type and value assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context type and value assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context type and value assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context type and value assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context type and value assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context type and value assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context type and value assigned to the structure definition\n* [StructureMap](structuremap.html): A use context type and value assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and value assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context type and value assigned to the value set"
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: jurisdiction
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Intended jurisdiction for the capability statement\n* [CodeSystem](codesystem.html): Intended jurisdiction for the code system\n* [ConceptMap](conceptmap.html): Intended jurisdiction for the concept map\n* [GraphDefinition](graphdefinition.html): Intended jurisdiction for the graph definition\n* [ImplementationGuide](implementationguide.html): Intended jurisdiction for the implementation guide\n* [MessageDefinition](messagedefinition.html): Intended jurisdiction for the message definition\n* [NamingSystem](namingsystem.html): Intended jurisdiction for the naming system\n* [OperationDefinition](operationdefinition.html): Intended jurisdiction for the operation definition\n* [SearchParameter](searchparameter.html): Intended jurisdiction for the search parameter\n* [StructureDefinition](structuredefinition.html): Intended jurisdiction for the structure definition\n* [StructureMap](structuremap.html): Intended jurisdiction for the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Intended jurisdiction for the terminology capabilities\n* [ValueSet](valueset.html): Intended jurisdiction for the value set"
        style: simple
      - name: description
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The description of the capability statement\n* [CodeSystem](codesystem.html): The description of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The description of the compartment definition\n* [ConceptMap](conceptmap.html): The description of the concept map\n* [GraphDefinition](graphdefinition.html): The description of the graph definition\n* [ImplementationGuide](implementationguide.html): The description of the implementation guide\n* [MessageDefinition](messagedefinition.html): The description of the message definition\n* [NamingSystem](namingsystem.html): The description of the naming system\n* [OperationDefinition](operationdefinition.html): The description of the operation definition\n* [SearchParameter](searchparameter.html): The description of the search parameter\n* [StructureDefinition](structuredefinition.html): The description of the structure definition\n* [StructureMap](structuremap.html): The description of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The description of the terminology capabilities\n* [ValueSet](valueset.html): The description of the value set"
        style: simple
      - name: context-type
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A type of use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A type of use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A type of use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A type of use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A type of use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A type of use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A type of use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A type of use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A type of use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A type of use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A type of use context assigned to the structure definition\n* [StructureMap](structuremap.html): A type of use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A type of use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A type of use context assigned to the value set"
        style: simple
      - name: title
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The human-friendly name of the capability statement\n* [CodeSystem](codesystem.html): The human-friendly name of the code system\n* [ConceptMap](conceptmap.html): The human-friendly name of the concept map\n* [ImplementationGuide](implementationguide.html): The human-friendly name of the implementation guide\n* [MessageDefinition](messagedefinition.html): The human-friendly name of the message definition\n* [OperationDefinition](operationdefinition.html): The human-friendly name of the operation definition\n* [StructureDefinition](structuredefinition.html): The human-friendly name of the structure definition\n* [StructureMap](structuremap.html): The human-friendly name of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The human-friendly name of the terminology capabilities\n* [ValueSet](valueset.html): The human-friendly name of the value set"
        style: simple
      - name: type
        in: query
        description: Invoke at the type level?
        style: simple
      - name: context-quantity
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A quantity- or range-valued use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A quantity- or range-valued use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A quantity- or range-valued use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A quantity- or range-valued use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A quantity- or range-valued use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A quantity- or range-valued use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A quantity- or range-valued use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A quantity- or range-valued use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A quantity- or range-valued use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A quantity- or range-valued use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A quantity- or range-valued use context assigned to the structure definition\n* [StructureMap](structuremap.html): A quantity- or range-valued use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A quantity- or range-valued use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A quantity- or range-valued use context assigned to the value set"
        style: simple
      - name: output-profile
        in: query
        description: Validation information for out parameters
        style: simple
      - name: context
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context assigned to the structure definition\n* [StructureMap](structuremap.html): A use context assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context assigned to the value set"
        style: simple
      - name: context-type-quantity
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): A use context type and quantity- or range-based value assigned to the capability statement\n* [CodeSystem](codesystem.html): A use context type and quantity- or range-based value assigned to the code system\n* [CompartmentDefinition](compartmentdefinition.html): A use context type and quantity- or range-based value assigned to the compartment definition\n* [ConceptMap](conceptmap.html): A use context type and quantity- or range-based value assigned to the concept map\n* [GraphDefinition](graphdefinition.html): A use context type and quantity- or range-based value assigned to the graph definition\n* [ImplementationGuide](implementationguide.html): A use context type and quantity- or range-based value assigned to the implementation guide\n* [MessageDefinition](messagedefinition.html): A use context type and quantity- or range-based value assigned to the message definition\n* [NamingSystem](namingsystem.html): A use context type and quantity- or range-based value assigned to the naming system\n* [OperationDefinition](operationdefinition.html): A use context type and quantity- or range-based value assigned to the operation definition\n* [SearchParameter](searchparameter.html): A use context type and quantity- or range-based value assigned to the search parameter\n* [StructureDefinition](structuredefinition.html): A use context type and quantity- or range-based value assigned to the structure definition\n* [StructureMap](structuremap.html): A use context type and quantity- or range-based value assigned to the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): A use context type and quantity- or range-based value assigned to the terminology capabilities\n* [ValueSet](valueset.html): A use context type and quantity- or range-based value assigned to the value set"
        style: simple
      - name: kind
        in: query
        description: operation | query
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: version
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The business version of the capability statement\n* [CodeSystem](codesystem.html): The business version of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The business version of the compartment definition\n* [ConceptMap](conceptmap.html): The business version of the concept map\n* [GraphDefinition](graphdefinition.html): The business version of the graph definition\n* [ImplementationGuide](implementationguide.html): The business version of the implementation guide\n* [MessageDefinition](messagedefinition.html): The business version of the message definition\n* [OperationDefinition](operationdefinition.html): The business version of the operation definition\n* [SearchParameter](searchparameter.html): The business version of the search parameter\n* [StructureDefinition](structuredefinition.html): The business version of the structure definition\n* [StructureMap](structuremap.html): The business version of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The business version of the terminology capabilities\n* [ValueSet](valueset.html): The business version of the value set"
        style: simple
      - name: url
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The uri that identifies the capability statement\n* [CodeSystem](codesystem.html): The uri that identifies the code system\n* [CompartmentDefinition](compartmentdefinition.html): The uri that identifies the compartment definition\n* [ConceptMap](conceptmap.html): The uri that identifies the concept map\n* [GraphDefinition](graphdefinition.html): The uri that identifies the graph definition\n* [ImplementationGuide](implementationguide.html): The uri that identifies the implementation guide\n* [MessageDefinition](messagedefinition.html): The uri that identifies the message definition\n* [OperationDefinition](operationdefinition.html): The uri that identifies the operation definition\n* [SearchParameter](searchparameter.html): The uri that identifies the search parameter\n* [StructureDefinition](structuredefinition.html): The uri that identifies the structure definition\n* [StructureMap](structuremap.html): The uri that identifies the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The uri that identifies the terminology capabilities\n* [ValueSet](valueset.html): The uri that identifies the value set"
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: input-profile
        in: query
        description: Validation information for in parameters
        style: simple
      - name: system
        in: query
        description: Invoke at the system level?
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Computationally friendly name of the capability statement\n* [CodeSystem](codesystem.html): Computationally friendly name of the code system\n* [CompartmentDefinition](compartmentdefinition.html): Computationally friendly name of the compartment definition\n* [ConceptMap](conceptmap.html): Computationally friendly name of the concept map\n* [GraphDefinition](graphdefinition.html): Computationally friendly name of the graph definition\n* [ImplementationGuide](implementationguide.html): Computationally friendly name of the implementation guide\n* [MessageDefinition](messagedefinition.html): Computationally friendly name of the message definition\n* [NamingSystem](namingsystem.html): Computationally friendly name of the naming system\n* [OperationDefinition](operationdefinition.html): Computationally friendly name of the operation definition\n* [SearchParameter](searchparameter.html): Computationally friendly name of the search parameter\n* [StructureDefinition](structuredefinition.html): Computationally friendly name of the structure definition\n* [StructureMap](structuremap.html): Computationally friendly name of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Computationally friendly name of the terminology capabilities\n* [ValueSet](valueset.html): Computationally friendly name of the value set"
        style: simple
      - name: publisher
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): Name of the publisher of the capability statement\n* [CodeSystem](codesystem.html): Name of the publisher of the code system\n* [CompartmentDefinition](compartmentdefinition.html): Name of the publisher of the compartment definition\n* [ConceptMap](conceptmap.html): Name of the publisher of the concept map\n* [GraphDefinition](graphdefinition.html): Name of the publisher of the graph definition\n* [ImplementationGuide](implementationguide.html): Name of the publisher of the implementation guide\n* [MessageDefinition](messagedefinition.html): Name of the publisher of the message definition\n* [NamingSystem](namingsystem.html): Name of the publisher of the naming system\n* [OperationDefinition](operationdefinition.html): Name of the publisher of the operation definition\n* [SearchParameter](searchparameter.html): Name of the publisher of the search parameter\n* [StructureDefinition](structuredefinition.html): Name of the publisher of the structure definition\n* [StructureMap](structuremap.html): Name of the publisher of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): Name of the publisher of the terminology capabilities\n* [ValueSet](valueset.html): Name of the publisher of the value set"
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: "Multiple Resources: \n\n* [CapabilityStatement](capabilitystatement.html): The current status of the capability statement\n* [CodeSystem](codesystem.html): The current status of the code system\n* [CompartmentDefinition](compartmentdefinition.html): The current status of the compartment definition\n* [ConceptMap](conceptmap.html): The current status of the concept map\n* [GraphDefinition](graphdefinition.html): The current status of the graph definition\n* [ImplementationGuide](implementationguide.html): The current status of the implementation guide\n* [MessageDefinition](messagedefinition.html): The current status of the message definition\n* [NamingSystem](namingsystem.html): The current status of the naming system\n* [OperationDefinition](operationdefinition.html): The current status of the operation definition\n* [SearchParameter](searchparameter.html): The current status of the search parameter\n* [StructureDefinition](structuredefinition.html): The current status of the structure definition\n* [StructureMap](structuremap.html): The current status of the structure map\n* [TerminologyCapabilities](terminologycapabilities.html): The current status of the terminology capabilities\n* [ValueSet](valueset.html): The current status of the value set"
        style: simple
      - name: base
        in: query
        description: Marks this as a profile of the base
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/$validate:
    get:
      tags:
      - OperationDefinition
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OperationDefinition
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"OperationDefinition\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/$validate:
    get:
      tags:
      - OperationDefinition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OperationDefinition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"OperationDefinition\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/$meta-delete:
    post:
      tags:
      - OperationDefinition
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/$meta-add:
    post:
      tags:
      - OperationDefinition
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/$meta:
    get:
      tags:
      - OperationDefinition
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OperationDefinition
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/$meta:
    get:
      tags:
      - OperationDefinition
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - OperationDefinition
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/$expunge:
    post:
      tags:
      - OperationDefinition
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /OperationDefinition/{id}/$expunge:
    post:
      tags:
      - OperationDefinition
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
