openapi: 3.2.0
info:
  title: Devoted Health Encounter API
  version: unspecified
  description: 'Operations tagged Encounter across 2 of this provider''s published API definitions: devoted-health-patient-access-openapi-original.json, devoted-health-patient-access-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.devoted.com/fhir/
tags:
- name: Encounter
paths:
  /Encounter:
    get:
      tags:
      - Encounter
      parameters:
      - name: patient
        in: query
        description: The patient present at the encounter. It is a required field.
        schema:
          type: string
      - name: date
        in: query
        description: A date or date range from which to find appointments. This must be set when using patient, practitioner or location. The 'date' parameter may be provided once without a prefix or time component to imply a date range or once without a prefix and with a time component to search for appointments at a specific time. Alternately it may be provided twice with 'le' and 'gt' prefixes to search for appointments within a specific range. The date prefix pair must create a closed range.
        schema:
          type: string
          format: date
      - name: _format
        in: query
        x-consoleDefault: application/json
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Encounter'
    servers:
    - url: https://api.prod.devoted.com/fhir/
components:
  schemas:
    Encounter:
      description: ''
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        text:
          type: object
          properties:
            status:
              type: string
              minLength: 1
            div:
              type: string
              minLength: 1
          required:
          - status
          - div
        status:
          type: string
          minLength: 1
        class:
          type: string
          minLength: 1
        patient:
          type: object
          properties:
            reference:
              type: string
              minLength: 1
          required:
          - reference
      required:
      - resourceType
      - id
      - text
      - status
      - class
      - patient
x-refined-from:
- devoted-health-patient-access-openapi-original.json
- devoted-health-patient-access-openapi.json
