openapi: 3.2.0
info:
  title: HAPI FHIR Server List API
  contact: {}
  version: 6.6.0
  description: The List FHIR resource type
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: List
  description: The List FHIR resource type
paths:
  /List/{id}:
    get:
      tags:
      - List
      summary: 'read-instance: Read List instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - List
      summary: 'update-instance: Update an existing List instance, or create using a client-assigned ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"List\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <List xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - List
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - List
      summary: 'instance-patch: Patch a resource instance of type List by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/_history/{version_id}:
    get:
      tags:
      - List
      summary: 'vread-instance: Read List instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List:
    get:
      tags:
      - List
      summary: 'search-type: Search for List instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Date first version of the resource instance was recorded\n* [CarePlan](careplan.html): Time period plan covers\n* [CareTeam](careteam.html): Time period team covers\n* [ClinicalImpression](clinicalimpression.html): When the assessment was documented\n* [Composition](composition.html): Composition editing time\n* [Consent](consent.html): When this Consent was created or indexed\n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time of the report\n* [Encounter](encounter.html): A date within the period the Encounter lasted\n* [EpisodeOfCare](episodeofcare.html): The provided date search value falls within the episode of care's period\n* [FamilyMemberHistory](familymemberhistory.html): When history was recorded or last updated\n* [Flag](flag.html): Time period when flag is active\n* [Immunization](immunization.html): Vaccination  (non)-Administration Date\n* [List](list.html): When the list was prepared\n* [Observation](observation.html): Obtained date/time. If the obtained element is a period, a date that falls in the period\n* [Procedure](procedure.html): When the procedure was performed\n* [RiskAssessment](riskassessment.html): When was assessment made?\n* [SupplyRequest](supplyrequest.html): When the request was made"
        style: simple
      - name: identifier
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): External ids for this item\n* [CarePlan](careplan.html): External Ids for this plan\n* [CareTeam](careteam.html): External Ids for this team\n* [Composition](composition.html): Version-independent identifier for the Composition\n* [Condition](condition.html): A unique identifier of the condition record\n* [Consent](consent.html): Identifier for this record (external references)\n* [DetectedIssue](detectedissue.html): Unique id for the detected issue\n* [DeviceRequest](devicerequest.html): Business identifier for request/order\n* [DiagnosticReport](diagnosticreport.html): An identifier for the report\n* [DocumentManifest](documentmanifest.html): Unique Identifier for the set of documents\n* [DocumentReference](documentreference.html): Master Version Specific Identifier\n* [Encounter](encounter.html): Identifier(s) by which this encounter is known\n* [EpisodeOfCare](episodeofcare.html): Business Identifier(s) relevant for this EpisodeOfCare\n* [FamilyMemberHistory](familymemberhistory.html): A search by a record identifier\n* [Goal](goal.html): External Ids for this goal\n* [ImagingStudy](imagingstudy.html): Identifiers for the Study, such as DICOM Study Instance UID and Accession number\n* [Immunization](immunization.html): Business identifier\n* [List](list.html): Business identifier\n* [MedicationAdministration](medicationadministration.html): Return administrations with this external identifier\n* [MedicationDispense](medicationdispense.html): Returns dispenses with this external identifier\n* [MedicationRequest](medicationrequest.html): Return prescriptions with this external identifier\n* [MedicationStatement](medicationstatement.html): Return statements with this external identifier\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this external identifier\n* [Observation](observation.html): The unique id for a particular observation\n* [Procedure](procedure.html): A unique identifier for a procedure\n* [RiskAssessment](riskassessment.html): Unique identifier for the assessment\n* [ServiceRequest](servicerequest.html): Identifiers assigned to this order\n* [SupplyDelivery](supplydelivery.html): External identifier\n* [SupplyRequest](supplyrequest.html): Business Identifier for SupplyRequest\n* [VisionPrescription](visionprescription.html): Return prescriptions with this external identifier"
        style: simple
      - name: empty-reason
        in: query
        description: Why list is empty
        style: simple
      - name: item
        in: query
        description: Actual entry
        style: simple
      - name: code
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance\n* [Condition](condition.html): Code for the condition\n* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered\n* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result\n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code\n* [List](list.html): What the purpose of this list is\n* [Medication](medication.html): Returns medications for a specific code\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code\n* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code\n* [MedicationStatement](medicationstatement.html): Return statements of this medication code\n* [Observation](observation.html): The code of the observation type\n* [Procedure](procedure.html): A code to identify a  procedure\n* [ServiceRequest](servicerequest.html): What is being requested/ordered"
        style: simple
      - name: notes
        in: query
        description: The annotation  - text content (as markdown)
        style: simple
      - name: subject
        in: query
        description: If all resources have the same subject
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: encounter
        in: query
        description: "Multiple Resources: \n\n* [Composition](composition.html): Context of the Composition\n* [DeviceRequest](devicerequest.html): Encounter during which request was created\n* [DiagnosticReport](diagnosticreport.html): The Encounter when the order was made\n* [DocumentReference](documentreference.html): Context of the document  content\n* [Flag](flag.html): Alert relevant during encounter\n* [List](list.html): Context in which list created\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this encounter identifier\n* [Observation](observation.html): Encounter related to the observation\n* [Procedure](procedure.html): Encounter created as part of\n* [RiskAssessment](riskassessment.html): Where was assessment performed?\n* [ServiceRequest](servicerequest.html): An encounter in which this request is made\n* [VisionPrescription](visionprescription.html): Return prescriptions with this encounter identifier"
        style: simple
      - name: source
        in: query
        description: Who and/or what defined the list contents (aka Author)
        style: simple
      - name: title
        in: query
        description: Descriptive name for the list
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: patient
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for\n* [CarePlan](careplan.html): Who the care plan is for\n* [CareTeam](careteam.html): Who care team is for\n* [ClinicalImpression](clinicalimpression.html): Patient or group assessed\n* [Composition](composition.html): Who and/or what the composition is about\n* [Condition](condition.html): Who has the condition?\n* [Consent](consent.html): Who the consent applies to\n* [DetectedIssue](detectedissue.html): Associated patient\n* [DeviceRequest](devicerequest.html): Individual the service is ordered for\n* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient\n* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient\n* [DocumentManifest](documentmanifest.html): The subject of the set of documents\n* [DocumentReference](documentreference.html): Who/what is the subject of the document\n* [Encounter](encounter.html): The patient or group present at the encounter\n* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care\n* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for\n* [Flag](flag.html): The identity of a subject to list flags for\n* [Goal](goal.html): Who this goal is intended for\n* [ImagingStudy](imagingstudy.html): Who the study is about\n* [Immunization](immunization.html): The patient for the vaccination record\n* [List](list.html): If all resources have the same subject\n* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for\n* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for\n* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient\n* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.\n* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement\n* [Observation](observation.html): The subject that the observation is about (if patient)\n* [Procedure](procedure.html): Search by subject - a patient\n* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?\n* [ServiceRequest](servicerequest.html): Search by subject - a patient\n* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied\n* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for"
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: current | retired | entered-in-error
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      summary: 'create-type: Create a new List instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"List\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <List xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/_history:
    get:
      tags:
      - List
      summary: 'type-history: Fetch the resource change history for all resources of type List'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/_history:
    get:
      tags:
      - List
      summary: 'instance-history: Fetch the resource change history for all resources of type List'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/_search:
    get:
      tags:
      - List
      summary: 'search-type: Search for List instances'
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Date first version of the resource instance was recorded\n* [CarePlan](careplan.html): Time period plan covers\n* [CareTeam](careteam.html): Time period team covers\n* [ClinicalImpression](clinicalimpression.html): When the assessment was documented\n* [Composition](composition.html): Composition editing time\n* [Consent](consent.html): When this Consent was created or indexed\n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time of the report\n* [Encounter](encounter.html): A date within the period the Encounter lasted\n* [EpisodeOfCare](episodeofcare.html): The provided date search value falls within the episode of care's period\n* [FamilyMemberHistory](familymemberhistory.html): When history was recorded or last updated\n* [Flag](flag.html): Time period when flag is active\n* [Immunization](immunization.html): Vaccination  (non)-Administration Date\n* [List](list.html): When the list was prepared\n* [Observation](observation.html): Obtained date/time. If the obtained element is a period, a date that falls in the period\n* [Procedure](procedure.html): When the procedure was performed\n* [RiskAssessment](riskassessment.html): When was assessment made?\n* [SupplyRequest](supplyrequest.html): When the request was made"
        style: simple
      - name: identifier
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): External ids for this item\n* [CarePlan](careplan.html): External Ids for this plan\n* [CareTeam](careteam.html): External Ids for this team\n* [Composition](composition.html): Version-independent identifier for the Composition\n* [Condition](condition.html): A unique identifier of the condition record\n* [Consent](consent.html): Identifier for this record (external references)\n* [DetectedIssue](detectedissue.html): Unique id for the detected issue\n* [DeviceRequest](devicerequest.html): Business identifier for request/order\n* [DiagnosticReport](diagnosticreport.html): An identifier for the report\n* [DocumentManifest](documentmanifest.html): Unique Identifier for the set of documents\n* [DocumentReference](documentreference.html): Master Version Specific Identifier\n* [Encounter](encounter.html): Identifier(s) by which this encounter is known\n* [EpisodeOfCare](episodeofcare.html): Business Identifier(s) relevant for this EpisodeOfCare\n* [FamilyMemberHistory](familymemberhistory.html): A search by a record identifier\n* [Goal](goal.html): External Ids for this goal\n* [ImagingStudy](imagingstudy.html): Identifiers for the Study, such as DICOM Study Instance UID and Accession number\n* [Immunization](immunization.html): Business identifier\n* [List](list.html): Business identifier\n* [MedicationAdministration](medicationadministration.html): Return administrations with this external identifier\n* [MedicationDispense](medicationdispense.html): Returns dispenses with this external identifier\n* [MedicationRequest](medicationrequest.html): Return prescriptions with this external identifier\n* [MedicationStatement](medicationstatement.html): Return statements with this external identifier\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this external identifier\n* [Observation](observation.html): The unique id for a particular observation\n* [Procedure](procedure.html): A unique identifier for a procedure\n* [RiskAssessment](riskassessment.html): Unique identifier for the assessment\n* [ServiceRequest](servicerequest.html): Identifiers assigned to this order\n* [SupplyDelivery](supplydelivery.html): External identifier\n* [SupplyRequest](supplyrequest.html): Business Identifier for SupplyRequest\n* [VisionPrescription](visionprescription.html): Return prescriptions with this external identifier"
        style: simple
      - name: empty-reason
        in: query
        description: Why list is empty
        style: simple
      - name: item
        in: query
        description: Actual entry
        style: simple
      - name: code
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Code that identifies the allergy or intolerance\n* [Condition](condition.html): Code for the condition\n* [DeviceRequest](devicerequest.html): Code for what is being requested/ordered\n* [DiagnosticReport](diagnosticreport.html): The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result\n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition code\n* [List](list.html): What the purpose of this list is\n* [Medication](medication.html): Returns medications for a specific code\n* [MedicationAdministration](medicationadministration.html): Return administrations of this medication code\n* [MedicationDispense](medicationdispense.html): Returns dispenses of this medicine code\n* [MedicationRequest](medicationrequest.html): Return prescriptions of this medication code\n* [MedicationStatement](medicationstatement.html): Return statements of this medication code\n* [Observation](observation.html): The code of the observation type\n* [Procedure](procedure.html): A code to identify a  procedure\n* [ServiceRequest](servicerequest.html): What is being requested/ordered"
        style: simple
      - name: notes
        in: query
        description: The annotation  - text content (as markdown)
        style: simple
      - name: subject
        in: query
        description: If all resources have the same subject
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: encounter
        in: query
        description: "Multiple Resources: \n\n* [Composition](composition.html): Context of the Composition\n* [DeviceRequest](devicerequest.html): Encounter during which request was created\n* [DiagnosticReport](diagnosticreport.html): The Encounter when the order was made\n* [DocumentReference](documentreference.html): Context of the document  content\n* [Flag](flag.html): Alert relevant during encounter\n* [List](list.html): Context in which list created\n* [NutritionOrder](nutritionorder.html): Return nutrition orders with this encounter identifier\n* [Observation](observation.html): Encounter related to the observation\n* [Procedure](procedure.html): Encounter created as part of\n* [RiskAssessment](riskassessment.html): Where was assessment performed?\n* [ServiceRequest](servicerequest.html): An encounter in which this request is made\n* [VisionPrescription](visionprescription.html): Return prescriptions with this encounter identifier"
        style: simple
      - name: source
        in: query
        description: Who and/or what defined the list contents (aka Author)
        style: simple
      - name: title
        in: query
        description: Descriptive name for the list
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: patient
        in: query
        description: "Multiple Resources: \n\n* [AllergyIntolerance](allergyintolerance.html): Who the sensitivity is for\n* [CarePlan](careplan.html): Who the care plan is for\n* [CareTeam](careteam.html): Who care team is for\n* [ClinicalImpression](clinicalimpression.html): Patient or group assessed\n* [Composition](composition.html): Who and/or what the composition is about\n* [Condition](condition.html): Who has the condition?\n* [Consent](consent.html): Who the consent applies to\n* [DetectedIssue](detectedissue.html): Associated patient\n* [DeviceRequest](devicerequest.html): Individual the service is ordered for\n* [DeviceUseStatement](deviceusestatement.html): Search by subject - a patient\n* [DiagnosticReport](diagnosticreport.html): The subject of the report if a patient\n* [DocumentManifest](documentmanifest.html): The subject of the set of documents\n* [DocumentReference](documentreference.html): Who/what is the subject of the document\n* [Encounter](encounter.html): The patient or group present at the encounter\n* [EpisodeOfCare](episodeofcare.html): The patient who is the focus of this episode of care\n* [FamilyMemberHistory](familymemberhistory.html): The identity of a subject to list family member history items for\n* [Flag](flag.html): The identity of a subject to list flags for\n* [Goal](goal.html): Who this goal is intended for\n* [ImagingStudy](imagingstudy.html): Who the study is about\n* [Immunization](immunization.html): The patient for the vaccination record\n* [List](list.html): If all resources have the same subject\n* [MedicationAdministration](medicationadministration.html): The identity of a patient to list administrations  for\n* [MedicationDispense](medicationdispense.html): The identity of a patient to list dispenses  for\n* [MedicationRequest](medicationrequest.html): Returns prescriptions for a specific patient\n* [MedicationStatement](medicationstatement.html): Returns statements for a specific patient.\n* [NutritionOrder](nutritionorder.html): The identity of the person who requires the diet, formula or nutritional supplement\n* [Observation](observation.html): The subject that the observation is about (if patient)\n* [Procedure](procedure.html): Search by subject - a patient\n* [RiskAssessment](riskassessment.html): Who/what does assessment apply to?\n* [ServiceRequest](servicerequest.html): Search by subject - a patient\n* [SupplyDelivery](supplydelivery.html): Patient for whom the item is supplied\n* [VisionPrescription](visionprescription.html): The identity of a patient to list dispenses for"
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: current | retired | entered-in-error
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/$validate:
    get:
      tags:
      - List
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"List\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/$validate:
    get:
      tags:
      - List
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"List\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/$meta-delete:
    post:
      tags:
      - List
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/$meta-add:
    post:
      tags:
      - List
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/$meta:
    get:
      tags:
      - List
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/$meta:
    get:
      tags:
      - List
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/$expunge:
    post:
      tags:
      - List
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/$expunge:
    post:
      tags:
      - List
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
