openapi: 3.2.0
info:
  title: HAPI FHIR Server System Level Operations API
  contact: {}
  version: 6.6.0
  description: Server-level operations
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: System Level Operations
  description: Server-level operations
paths:
  /metadata:
    get:
      tags:
      - System Level Operations
      summary: 'server-capabilities: Fetch the server FHIR CapabilityStatement'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: "{\n  \"resourceType\": \"CapabilityStatement\"\n}"
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: <CapabilityStatement xmlns="http://hl7.org/fhir"/>
      operationId: getMetadata
      x-operation-id-source: derived
  /:
    post:
      tags:
      - System Level Operations
      summary: 'server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: null
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: null
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: postRoot
      x-operation-id-source: derived
  /_history:
    get:
      tags:
      - System Level Operations
      summary: 'server-history: Fetch the resource change history across all resource types on…'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHistory
      x-operation-id-source: derived
  /$reindex:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"url\",\n    \"valueString\": \"example\"\n  }, {\n    \"name\": \"reindexSearchParameters\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"optimizeStorage\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"optimisticLock\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $reindex
      x-summary-source: derived
      operationId: post$reindex
      x-operation-id-source: derived
  /$perform-reindexing-pass:
    post:
      tags:
      - System Level Operations
      description: Forces a single pass of the resource reindexing processor
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $perform reindexing pass
      x-summary-source: derived
      operationId: post$performReindexingPass
      x-operation-id-source: derived
  /$meta:
    get:
      tags:
      - System Level Operations
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get $meta
      x-summary-source: derived
      operationId: get$meta
      x-operation-id-source: derived
    post:
      tags:
      - System Level Operations
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $meta
      x-summary-source: derived
      operationId: post$meta
      x-operation-id-source: derived
  /$mark-all-resources-for-reindexing:
    post:
      tags:
      - System Level Operations
      description: Marks all currently existing resources of a given type, or all resources of all types, for reindexing.
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"type\",\n    \"valueCode\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $mark all resources for reindexing
      x-summary-source: derived
      operationId: post$markAllResourcesForReindexing
      x-operation-id-source: derived
  /$get-resource-counts:
    get:
      tags:
      - System Level Operations
      summary: Provides the number of resources currently stored on the server, broken down by…
      description: Provides the number of resources currently stored on the server, broken down by resource type
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: get$getResourceCounts
      x-operation-id-source: derived
    post:
      tags:
      - System Level Operations
      summary: Provides the number of resources currently stored on the server, broken down by…
      description: Provides the number of resources currently stored on the server, broken down by resource type
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: post$getResourceCounts
      x-operation-id-source: derived
  /$expunge:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $expunge
      x-summary-source: derived
      operationId: post$expunge
      x-operation-id-source: derived
  /$reindex-terminology:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create $reindex terminology
      x-summary-source: derived
      operationId: post$reindexTerminology
      x-operation-id-source: derived
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
