swagger: '2.0'
info:
  description: "Fast Healthcare Interoperability Resources (FHIR, pronounced \"Fire\") defines a set of \"Resources\" that represent granular clinical concepts. The resources can be managed in isolation, or aggregated into complex documents. Technically, FHIR is designed for the web; the resources are based on simple XML or JSON structures, with an http-based RESTful protocol where each resource has predictable URL. Where possible, open internet standards are used for data representation. \n"
  title: Untitled CodeSystem Encounter API
  version: unspecified
host: api.prod.devoted.com
basePath: /fhir/
schemes:
- https
tags:
- name: Encounter
paths:
  /Encounter:
    get:
      tags:
      - Encounter
      parameters:
      - name: patient
        type: string
        in: query
        description: The patient present at the encounter. It is a required field.
      - name: date
        type: string
        in: query
        description: A date or date range from which to find appointments. This must be set when using patient, practitioner or location. The 'date' parameter may be provided once without a prefix or time component to imply a date range or once without a prefix and with a time component to search for appointments at a specific time. Alternately it may be provided twice with 'le' and 'gt' prefixes to search for appointments within a specific range. The date prefix pair must create a closed range.
        format: date
      - name: _format
        in: query
        type: string
        x-consoleDefault: application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Encounter'
definitions:
  Encounter:
    description: ''
    type: object
    properties:
      resourceType:
        type: string
        minLength: 1
      id:
        type: string
        minLength: 1
      text:
        type: object
        properties:
          status:
            type: string
            minLength: 1
          div:
            type: string
            minLength: 1
        required:
        - status
        - div
      status:
        type: string
        minLength: 1
      class:
        type: string
        minLength: 1
      patient:
        type: object
        properties:
          reference:
            type: string
            minLength: 1
        required:
        - reference
    required:
    - resourceType
    - id
    - text
    - status
    - class
    - patient
