openapi: 3.2.0
info:
  title: HAPI FHIR Server Healthcare Service API
  contact: {}
  version: 6.6.0
  description: The HealthcareService FHIR resource type
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: Healthcare Service
  description: The HealthcareService FHIR resource type
paths:
  /HealthcareService/{id}:
    get:
      tags:
      - Healthcare Service
      summary: 'read-instance: Read HealthcareService instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareServiceById
      x-operation-id-source: derived
    put:
      tags:
      - Healthcare Service
      summary: 'update-instance: Update an existing HealthcareService instance, or create using…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"HealthcareService\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <HealthcareService xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: putHealthcareServiceById
      x-operation-id-source: derived
    delete:
      tags:
      - Healthcare Service
      summary: 'instance-delete: Perform a logical delete on a resource instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: deleteHealthcareServiceById
      x-operation-id-source: derived
    patch:
      tags:
      - Healthcare Service
      summary: 'instance-patch: Patch a resource instance of type HealthcareService by ID'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"operation\",\n    \"part\": [ {\n      \"name\": \"type\",\n      \"valueString\": \"add\"\n    }, {\n      \"name\": \"path\",\n      \"valueString\": \"Patient\"\n    }, {\n      \"name\": \"name\",\n      \"valueString\": \"birthDate\"\n    }, {\n      \"name\": \"value\",\n      \"valueDate\": \"1930-01-01\"\n    } ]\n  } ]\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: "<Parameters xmlns=\"http://hl7.org/fhir\">\n   <parameter>\n      <name value=\"operation\"/>\n      <part>\n         <name value=\"type\"/>\n         <valueString value=\"add\"/>\n      </part>\n      <part>\n         <name value=\"path\"/>\n         <valueString value=\"Patient\"/>\n      </part>\n      <part>\n         <name value=\"name\"/>\n         <valueString value=\"birthDate\"/>\n      </part>\n      <part>\n         <name value=\"value\"/>\n         <valueDate value=\"1930-01-01\"/>\n      </part>\n   </parameter>\n</Parameters>"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: patchHealthcareServiceById
      x-operation-id-source: derived
  /HealthcareService/{id}/_history/{version_id}:
    get:
      tags:
      - Healthcare Service
      summary: 'vread-instance: Read HealthcareService instance with specific version'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '1'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareServiceByIdHistoryByVersionId
      x-operation-id-source: derived
  /HealthcareService:
    get:
      tags:
      - Healthcare Service
      summary: 'search-type: Search for HealthcareService instances'
      description: This is a search type
      parameters:
      - name: identifier
        in: query
        description: External identifiers for this item
        style: simple
      - name: specialty
        in: query
        description: The specialty of the service provided by this healthcare service
        style: simple
      - name: service-category
        in: query
        description: Service Category of the Healthcare Service
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: service-type
        in: query
        description: The type of service provided by this healthcare service
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: The Healthcare Service is currently marked as active
        style: simple
      - name: program
        in: query
        description: One of the Programs supported by this HealthcareService
        style: simple
      - name: characteristic
        in: query
        description: One of the HealthcareService's characteristics
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to electronic services operated for the healthcare service
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: coverage-area
        in: query
        description: Location(s) service is intended for/available to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: organization
        in: query
        description: The organization that provides this Healthcare Service
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: A portion of the Healthcare service name
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location of the Healthcare Service
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareService
      x-operation-id-source: derived
    post:
      tags:
      - Healthcare Service
      summary: 'create-type: Create a new HealthcareService instance'
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: "{\n  \"resourceType\": \"HealthcareService\"\n}"
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <HealthcareService xmlns="http://hl7.org/fhir"/>
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: postHealthcareService
      x-operation-id-source: derived
  /HealthcareService/_history:
    get:
      tags:
      - Healthcare Service
      summary: 'type-history: Fetch the resource change history for all resources of type…'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareServiceHistory
      x-operation-id-source: derived
  /HealthcareService/{id}/_history:
    get:
      tags:
      - Healthcare Service
      summary: 'instance-history: Fetch the resource change history for all resources of type…'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareServiceByIdHistory
      x-operation-id-source: derived
  /HealthcareService/_search:
    get:
      tags:
      - Healthcare Service
      summary: 'search-type: Search for HealthcareService instances'
      description: This is a search type
      parameters:
      - name: identifier
        in: query
        description: External identifiers for this item
        style: simple
      - name: specialty
        in: query
        description: The specialty of the service provided by this healthcare service
        style: simple
      - name: service-category
        in: query
        description: Service Category of the Healthcare Service
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: service-type
        in: query
        description: The type of service provided by this healthcare service
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: The Healthcare Service is currently marked as active
        style: simple
      - name: program
        in: query
        description: One of the Programs supported by this HealthcareService
        style: simple
      - name: characteristic
        in: query
        description: One of the HealthcareService's characteristics
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to electronic services operated for the healthcare service
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: coverage-area
        in: query
        description: Location(s) service is intended for/available to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: organization
        in: query
        description: The organization that provides this Healthcare Service
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: A portion of the Healthcare service name
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location of the Healthcare Service
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      operationId: getHealthcareServiceSearch
      x-operation-id-source: derived
  /HealthcareService/$validate:
    get:
      tags:
      - Healthcare Service
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get healthcare service $validate
      x-summary-source: derived
      operationId: getHealthcareService$validate
      x-operation-id-source: derived
    post:
      tags:
      - Healthcare Service
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"HealthcareService\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service $validate
      x-summary-source: derived
      operationId: postHealthcareService$validate
      x-operation-id-source: derived
  /HealthcareService/{id}/$validate:
    get:
      tags:
      - Healthcare Service
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get healthcare service by id $validate
      x-summary-source: derived
      operationId: getHealthcareServiceById$validate
      x-operation-id-source: derived
    post:
      tags:
      - Healthcare Service
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resource\",\n    \"resource\": {\n      \"resourceType\": \"HealthcareService\",\n      \"id\": \"1\"\n    }\n  }, {\n    \"name\": \"mode\",\n    \"valueCode\": \"example\"\n  }, {\n    \"name\": \"profile\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service by id $validate
      x-summary-source: derived
      operationId: postHealthcareServiceById$validate
      x-operation-id-source: derived
  /HealthcareService/{id}/$meta-delete:
    post:
      tags:
      - Healthcare Service
      description: Delete tags, profiles, and/or security labels from a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service by id $meta delete
      x-summary-source: derived
      operationId: postHealthcareServiceById$metaDelete
      x-operation-id-source: derived
  /HealthcareService/{id}/$meta-add:
    post:
      tags:
      - Healthcare Service
      description: Add tags, profiles, and/or security labels to a resource
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"meta\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service by id $meta add
      x-summary-source: derived
      operationId: postHealthcareServiceById$metaAdd
      x-operation-id-source: derived
  /HealthcareService/$meta:
    get:
      tags:
      - Healthcare Service
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get healthcare service $meta
      x-summary-source: derived
      operationId: getHealthcareService$meta
      x-operation-id-source: derived
    post:
      tags:
      - Healthcare Service
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service $meta
      x-summary-source: derived
      operationId: postHealthcareService$meta
      x-operation-id-source: derived
  /HealthcareService/{id}/$meta:
    get:
      tags:
      - Healthcare Service
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Get healthcare service by id $meta
      x-summary-source: derived
      operationId: getHealthcareServiceById$meta
      x-operation-id-source: derived
    post:
      tags:
      - Healthcare Service
      description: Request a list of tags, profiles, and security labels for a specfic resource instance
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\"\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service by id $meta
      x-summary-source: derived
      operationId: postHealthcareServiceById$meta
      x-operation-id-source: derived
  /HealthcareService/$expunge:
    post:
      tags:
      - Healthcare Service
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service $expunge
      x-summary-source: derived
      operationId: postHealthcareService$expunge
      x-operation-id-source: derived
  /HealthcareService/{id}/$expunge:
    post:
      tags:
      - Healthcare Service
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"limit\",\n    \"valueInteger\": 0\n  }, {\n    \"name\": \"expungeDeletedResources\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungePreviousVersions\",\n    \"valueBoolean\": false\n  }, {\n    \"name\": \"expungeEverything\",\n    \"valueBoolean\": false\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
      summary: Create healthcare service by id $expunge
      x-summary-source: derived
      operationId: postHealthcareServiceById$expunge
      x-operation-id-source: derived
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
