openapi: 3.2.0
info:
  title: HAPI FHIR Server Subscription API
  contact: {}
  version: 6.6.0
  description: The Subscription FHIR resource type
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: Subscription
  description: The Subscription FHIR resource type
paths:
  /Subscription/$trigger-subscription:
    post:
      tags:
      - Subscription
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resourceId\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"searchUrl\",\n    \"valueString\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /Subscription/{id}/$trigger-subscription:
    post:
      tags:
      - Subscription
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: '123'
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: "{\n  \"resourceType\": \"Parameters\",\n  \"parameter\": [ {\n    \"name\": \"resourceId\",\n    \"valueUri\": \"example\"\n  }, {\n    \"name\": \"searchUrl\",\n    \"valueString\": \"example\"\n  } ]\n}"
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
      example: null
