openapi: 3.2.0
info:
  title: Devoted Health Patient API
  version: unspecified
  description: 'Operations tagged Patient across 2 of this provider''s published API definitions: devoted-health-patient-access-openapi-original.json, devoted-health-patient-access-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prod.devoted.com/fhir/
tags:
- name: Patient
paths:
  /Patient:
    get:
      tags:
      - Patient
      parameters:
      - name: _id
        in: query
        description: A patient identifier. Either the '_id' parameter, or 'identifier' must be provided.
        schema:
          type: string
      - name: identifier
        in: query
        description: A patient identifier. Either the '_id' parameter, or 'identifier' must be provided.
        schema:
          type: string
      - name: _format
        in: query
        x-consoleDefault: application/json
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
    servers:
    - url: https://api.prod.devoted.com/fhir/
  /Patient/{id}:
    parameters:
    - in: path
      required: true
      name: id
      schema:
        type: string
    get:
      tags:
      - Patient
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
    servers:
    - url: https://api.prod.devoted.com/fhir/
components:
  schemas:
    Patient:
      description: ''
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        text:
          type: object
          properties:
            status:
              type: string
              minLength: 1
            div:
              type: string
              minLength: 1
          required:
          - status
          - div
        identifier:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
            - use
            - system
            - value
            properties:
              use:
                type: string
                minLength: 1
              type:
                type: object
                properties:
                  coding:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                      - system
                      - code
                      properties:
                        system:
                          type: string
                          minLength: 1
                        code:
                          type: string
                          minLength: 1
                required:
                - coding
              system:
                type: string
                minLength: 1
              value:
                type: string
                minLength: 1
        active:
          type: boolean
        name:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
            - use
            properties:
              use:
                type: string
                minLength: 1
              family:
                type: array
                items:
                  properties: {}
              given:
                type: array
                items:
                  properties: {}
        gender:
          type: string
          minLength: 1
        photo:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
            - contentType
            - data
            properties:
              contentType:
                type: string
                minLength: 1
              data:
                type: string
                minLength: 1
        contact:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            properties:
              relationship:
                type: array
                uniqueItems: true
                minItems: 1
                items:
                  properties:
                    coding:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                        - system
                        - code
                        properties:
                          system:
                            type: string
                            minLength: 1
                          code:
                            type: string
                            minLength: 1
              organization:
                type: object
                properties:
                  reference:
                    type: string
                    minLength: 1
                  display:
                    type: string
                    minLength: 1
                required:
                - reference
                - display
        managingOrganization:
          type: object
          properties:
            reference:
              type: string
              minLength: 1
            display:
              type: string
              minLength: 1
          required:
          - reference
          - display
        link:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            required:
            - type
            properties:
              other:
                type: object
                properties:
                  reference:
                    type: string
                    minLength: 1
                required:
                - reference
              type:
                type: string
                minLength: 1
      required:
      - resourceType
      - id
      - text
      - identifier
      - active
      - name
      - gender
      - photo
      - contact
      - managingOrganization
      - link
x-refined-from:
- devoted-health-patient-access-openapi-original.json
- devoted-health-patient-access-openapi.json
