openapi: 3.0.1
info:
  title: HAPI FHIR Server
  contact: {}
  version: 6.6.0
servers:
- url: https://fhir.devoted.com/fhir
  description: HAPI FHIR Server
tags:
- name: System Level Operations
  description: Server-level operations
- name: CodeSystem
  description: The CodeSystem FHIR resource type
- name: HealthcareService
  description: The HealthcareService FHIR resource type
- name: InsurancePlan
  description: The InsurancePlan FHIR resource type
- name: List
  description: The List FHIR resource type
- name: Location
  description: The Location FHIR resource type
- name: MedicationKnowledge
  description: The MedicationKnowledge FHIR resource type
- name: OperationDefinition
  description: The OperationDefinition FHIR resource type
- name: Organization
  description: The Organization FHIR resource type
- name: OrganizationAffiliation
  description: The OrganizationAffiliation FHIR resource type
- name: Practitioner
  description: The Practitioner FHIR resource type
- name: PractitionerRole
  description: The PractitionerRole FHIR resource type
- name: SearchParameter
  description: The SearchParameter FHIR resource type
- name: StructureDefinition
  description: The StructureDefinition FHIR resource type
- name: Subscription
  description: The Subscription FHIR resource type
- name: ValueSet
  description: The ValueSet FHIR resource type
paths:
  /metadata:
    get:
      tags:
      - System Level Operations
      summary: "server-capabilities: Fetch the server FHIR CapabilityStatement"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: |-
                {
                  "resourceType": "CapabilityStatement"
                }
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: <CapabilityStatement xmlns="http://hl7.org/fhir"/>
  /:
    post:
      tags:
      - System Level Operations
      summary: "server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: null
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: null
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /_history:
    get:
      tags:
      - System Level Operations
      summary: "server-history: Fetch the resource change history across all resource\
        \ types on the server"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$reindex:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "url",
                  "valueString": "example"
                }, {
                  "name": "reindexSearchParameters",
                  "valueCode": "example"
                }, {
                  "name": "optimizeStorage",
                  "valueCode": "example"
                }, {
                  "name": "optimisticLock",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$perform-reindexing-pass:
    post:
      tags:
      - System Level Operations
      description: Forces a single pass of the resource reindexing processor
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$meta:
    get:
      tags:
      - System Level Operations
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - System Level Operations
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$mark-all-resources-for-reindexing:
    post:
      tags:
      - System Level Operations
      description: "Marks all currently existing resources of a given type, or all\
        \ resources of all types, for reindexing."
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "type",
                  "valueCode": "example"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$get-resource-counts:
    get:
      tags:
      - System Level Operations
      summary: "Provides the number of resources currently stored on the server, broken\
        \ down by resource type"
      description: "Provides the number of resources currently stored on the server,\
        \ broken down by resource type"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - System Level Operations
      summary: "Provides the number of resources currently stored on the server, broken\
        \ down by resource type"
      description: "Provides the number of resources currently stored on the server,\
        \ broken down by resource type"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$expunge:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /$reindex-terminology:
    post:
      tags:
      - System Level Operations
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /CodeSystem/$upload-external-code-system:
    post:
      tags:
      - CodeSystem
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "system",
                  "valueUri": "example"
                }, {
                  "name": "file"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /CodeSystem/$apply-codesystem-delta-remove:
    post:
      tags:
      - CodeSystem
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "system",
                  "valueUri": "example"
                }, {
                  "name": "file"
                }, {
                  "name": "codeSystem"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /CodeSystem/$apply-codesystem-delta-add:
    post:
      tags:
      - CodeSystem
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "system",
                  "valueUri": "example"
                }, {
                  "name": "file"
                }, {
                  "name": "codeSystem"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}:
    get:
      tags:
      - HealthcareService
      summary: "read-instance: Read HealthcareService instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - HealthcareService
      summary: "update-instance: Update an existing HealthcareService instance, or\
        \ create using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "HealthcareService"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <HealthcareService xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - HealthcareService
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - HealthcareService
      summary: "instance-patch: Patch a resource instance of type HealthcareService\
        \ by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/_history/{version_id}:
    get:
      tags:
      - HealthcareService
      summary: "vread-instance: Read HealthcareService instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService:
    get:
      tags:
      - HealthcareService
      summary: "search-type: Search for HealthcareService instances"
      description: This is a search type
      parameters:
      - name: identifier
        in: query
        description: External identifiers for this item
        style: simple
      - name: specialty
        in: query
        description: The specialty of the service provided by this healthcare service
        style: simple
      - name: service-category
        in: query
        description: Service Category of the Healthcare Service
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: service-type
        in: query
        description: The type of service provided by this healthcare service
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: The Healthcare Service is currently marked as active
        style: simple
      - name: program
        in: query
        description: One of the Programs supported by this HealthcareService
        style: simple
      - name: characteristic
        in: query
        description: One of the HealthcareService's characteristics
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to electronic services operated
          for the healthcare service
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: coverage-area
        in: query
        description: Location(s) service is intended for/available to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: organization
        in: query
        description: The organization that provides this Healthcare Service
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: A portion of the Healthcare service name
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location of the Healthcare Service
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - HealthcareService
      summary: "create-type: Create a new HealthcareService instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "HealthcareService"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <HealthcareService xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/_history:
    get:
      tags:
      - HealthcareService
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type HealthcareService"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/_history:
    get:
      tags:
      - HealthcareService
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type HealthcareService"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/_search:
    get:
      tags:
      - HealthcareService
      summary: "search-type: Search for HealthcareService instances"
      description: This is a search type
      parameters:
      - name: identifier
        in: query
        description: External identifiers for this item
        style: simple
      - name: specialty
        in: query
        description: The specialty of the service provided by this healthcare service
        style: simple
      - name: service-category
        in: query
        description: Service Category of the Healthcare Service
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: service-type
        in: query
        description: The type of service provided by this healthcare service
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: active
        in: query
        description: The Healthcare Service is currently marked as active
        style: simple
      - name: program
        in: query
        description: One of the Programs supported by this HealthcareService
        style: simple
      - name: characteristic
        in: query
        description: One of the HealthcareService's characteristics
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoints providing access to electronic services operated
          for the healthcare service
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: coverage-area
        in: query
        description: Location(s) service is intended for/available to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: organization
        in: query
        description: The organization that provides this Healthcare Service
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: name
        in: query
        description: A portion of the Healthcare service name
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: location
        in: query
        description: The location of the Healthcare Service
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/$validate:
    get:
      tags:
      - HealthcareService
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - HealthcareService
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "resource",
                  "resource": {
                    "resourceType": "HealthcareService",
                    "id": "1"
                  }
                }, {
                  "name": "mode",
                  "valueCode": "example"
                }, {
                  "name": "profile"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/$validate:
    get:
      tags:
      - HealthcareService
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - HealthcareService
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "resource",
                  "resource": {
                    "resourceType": "HealthcareService",
                    "id": "1"
                  }
                }, {
                  "name": "mode",
                  "valueCode": "example"
                }, {
                  "name": "profile"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/$meta-delete:
    post:
      tags:
      - HealthcareService
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/$meta-add:
    post:
      tags:
      - HealthcareService
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/$meta:
    get:
      tags:
      - HealthcareService
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - HealthcareService
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/$meta:
    get:
      tags:
      - HealthcareService
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - HealthcareService
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/$expunge:
    post:
      tags:
      - HealthcareService
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /HealthcareService/{id}/$expunge:
    post:
      tags:
      - HealthcareService
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}:
    get:
      tags:
      - InsurancePlan
      summary: "read-instance: Read InsurancePlan instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - InsurancePlan
      summary: "update-instance: Update an existing InsurancePlan instance, or create\
        \ using a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "InsurancePlan"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <InsurancePlan xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - InsurancePlan
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - InsurancePlan
      summary: "instance-patch: Patch a resource instance of type InsurancePlan by\
        \ ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/_history/{version_id}:
    get:
      tags:
      - InsurancePlan
      summary: "vread-instance: Read InsurancePlan instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan:
    get:
      tags:
      - InsurancePlan
      summary: "search-type: Search for InsurancePlan instances"
      description: This is a search type
      parameters:
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: _lastUpdated
        in: query
        description: Accesses the last updated date of an InsurancePlan
        style: simple
      - name: type
        in: query
        description: Accesses the Type of an InsurancePlan
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: administered-by
        in: query
        description: Product administrator
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoint
        style: simple
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        style: simple
      - name: coverage-area
        in: query
        description: Search InsurancePlan by coverage location.
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: identifier
        in: query
        description: Accesses the business identifier of an InsurancePlan
        style: simple
      - name: period
        in: query
        description: Accesses the active period of an InsurancePlan
        style: simple
      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        style: simple
      - name: owned-by
        in: query
        description: An organization of which this organization forms a part
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: formulary-coverage
        in: query
        description: Accesses the Coverage Formulary Reference of an InsurancePlan
        style: simple
      - name: coverage-type
        in: query
        description: Accesses the coverage type of an InsurancePlan
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: name
        in: query
        description: Accesses the name of an InsurancePlan
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: Accesses the status of an InsurancePlan
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - InsurancePlan
      summary: "create-type: Create a new InsurancePlan instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "InsurancePlan"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <InsurancePlan xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/_history:
    get:
      tags:
      - InsurancePlan
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type InsurancePlan"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/_history:
    get:
      tags:
      - InsurancePlan
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type InsurancePlan"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/_search:
    get:
      tags:
      - InsurancePlan
      summary: "search-type: Search for InsurancePlan instances"
      description: This is a search type
      parameters:
      - name: address-state
        in: query
        description: A state specified in an address
        style: simple
      - name: _lastUpdated
        in: query
        description: Accesses the last updated date of an InsurancePlan
        style: simple
      - name: type
        in: query
        description: Accesses the Type of an InsurancePlan
        style: simple
      - name: address-country
        in: query
        description: A country specified in an address
        style: simple
      - name: administered-by
        in: query
        description: Product administrator
        style: simple
      - name: endpoint
        in: query
        description: Technical endpoint
        style: simple
      - name: phonetic
        in: query
        description: A portion of the organization's name using some kind of phonetic
          matching algorithm
        style: simple
      - name: coverage-area
        in: query
        description: Search InsurancePlan by coverage location.
        style: simple
      - name: address-city
        in: query
        description: A city specified in an address
        style: simple
      - name: identifier
        in: query
        description: Accesses the business identifier of an InsurancePlan
        style: simple
      - name: period
        in: query
        description: Accesses the active period of an InsurancePlan
        style: simple
      - name: address
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the Address, including line, city, district, state, country, postalCode,\
          \ and/or text"
        style: simple
      - name: owned-by
        in: query
        description: An organization of which this organization forms a part
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: address-postalcode
        in: query
        description: A postal code specified in an address
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: formulary-coverage
        in: query
        description: Accesses the Coverage Formulary Reference of an InsurancePlan
        style: simple
      - name: coverage-type
        in: query
        description: Accesses the coverage type of an InsurancePlan
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: address-use
        in: query
        description: A use code specified in an address
        style: simple
      - name: name
        in: query
        description: Accesses the name of an InsurancePlan
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: Accesses the status of an InsurancePlan
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/$validate:
    get:
      tags:
      - InsurancePlan
      parameters:
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - InsurancePlan
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "resource",
                  "resource": {
                    "resourceType": "InsurancePlan",
                    "id": "1"
                  }
                }, {
                  "name": "mode",
                  "valueCode": "example"
                }, {
                  "name": "profile"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/$validate:
    get:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      - name: mode
        in: query
        required: false
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "resource",
                  "resource": {
                    "resourceType": "InsurancePlan",
                    "id": "1"
                  }
                }, {
                  "name": "mode",
                  "valueCode": "example"
                }, {
                  "name": "profile"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/$meta-delete:
    post:
      tags:
      - InsurancePlan
      description: "Delete tags, profiles, and/or security labels from a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/$meta-add:
    post:
      tags:
      - InsurancePlan
      description: "Add tags, profiles, and/or security labels to a resource"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "meta"
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/$meta:
    get:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/$meta:
    get:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - InsurancePlan
      description: "Request a list of tags, profiles, and security labels for a specfic\
        \ resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters"
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/$expunge:
    post:
      tags:
      - InsurancePlan
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /InsurancePlan/{id}/$expunge:
    post:
      tags:
      - InsurancePlan
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              title: FHIR Resource
              type: object
              example: null
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "limit",
                  "valueInteger": 0
                }, {
                  "name": "expungeDeletedResources",
                  "valueBoolean": false
                }, {
                  "name": "expungePreviousVersions",
                  "valueBoolean": false
                }, {
                  "name": "expungeEverything",
                  "valueBoolean": false
                } ]
              }
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}:
    get:
      tags:
      - List
      summary: "read-instance: Read List instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    put:
      tags:
      - List
      summary: "update-instance: Update an existing List instance, or create using\
        \ a client-assigned ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "List"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <List xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    delete:
      tags:
      - List
      summary: "instance-delete: Perform a logical delete on a resource instance"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    patch:
      tags:
      - List
      summary: "instance-patch: Patch a resource instance of type List by ID"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "Parameters",
                "parameter": [ {
                  "name": "operation",
                  "part": [ {
                    "name": "type",
                    "valueString": "add"
                  }, {
                    "name": "path",
                    "valueString": "Patient"
                  }, {
                    "name": "name",
                    "valueString": "birthDate"
                  }, {
                    "name": "value",
                    "valueDate": "1930-01-01"
                  } ]
                } ]
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: |-
              <Parameters xmlns="http://hl7.org/fhir">
                 <parameter>
                    <name value="operation"/>
                    <part>
                       <name value="type"/>
                       <valueString value="add"/>
                    </part>
                    <part>
                       <name value="path"/>
                       <valueString value="Patient"/>
                    </part>
                    <part>
                       <name value="name"/>
                       <valueString value="birthDate"/>
                    </part>
                    <part>
                       <name value="value"/>
                       <valueDate value="1930-01-01"/>
                    </part>
                 </parameter>
              </Parameters>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/_history/{version_id}:
    get:
      tags:
      - List
      summary: "vread-instance: Read List instance with specific version"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      - name: version_id
        in: path
        description: The resource version ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "1"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List:
    get:
      tags:
      - List
      summary: "search-type: Search for List instances"
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Date first version of the resource instance was recorded\r\n* [CarePlan](careplan.html):\
          \ Time period plan covers\r\n* [CareTeam](careteam.html): Time period team\
          \ covers\r\n* [ClinicalImpression](clinicalimpression.html): When the assessment\
          \ was documented\r\n* [Composition](composition.html): Composition editing\
          \ time\r\n* [Consent](consent.html): When this Consent was created or indexed\r\
          \n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time\
          \ of the report\r\n* [Encounter](encounter.html): A date within the period\
          \ the Encounter lasted\r\n* [EpisodeOfCare](episodeofcare.html): The provided\
          \ date search value falls within the episode of care's period\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ When history was recorded or last updated\r\n* [Flag](flag.html): Time\
          \ period when flag is active\r\n* [Immunization](immunization.html): Vaccination\
          \  (non)-Administration Date\r\n* [List](list.html): When the list was prepared\r\
          \n* [Observation](observation.html): Obtained date/time. If the obtained\
          \ element is a period, a date that falls in the period\r\n* [Procedure](procedure.html):\
          \ When the procedure was performed\r\n* [RiskAssessment](riskassessment.html):\
          \ When was assessment made?\r\n* [SupplyRequest](supplyrequest.html): When\
          \ the request was made"
        style: simple
      - name: identifier
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ External ids for this item\r\n* [CarePlan](careplan.html): External Ids\
          \ for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\
          \n* [Composition](composition.html): Version-independent identifier for\
          \ the Composition\r\n* [Condition](condition.html): A unique identifier\
          \ of the condition record\r\n* [Consent](consent.html): Identifier for this\
          \ record (external references)\r\n* [DetectedIssue](detectedissue.html):\
          \ Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html):\
          \ Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ An identifier for the report\r\n* [DocumentManifest](documentmanifest.html):\
          \ Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s)\
          \ by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ A search by a record identifier\r\n* [Goal](goal.html): External Ids for\
          \ this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the\
          \ Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html):\
          \ Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html):\
          \ Return nutrition orders with this external identifier\r\n* [Observation](observation.html):\
          \ The unique id for a particular observation\r\n* [Procedure](procedure.html):\
          \ A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html):\
          \ Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html):\
          \ Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html):\
          \ External identifier\r\n* [SupplyRequest](supplyrequest.html): Business\
          \ Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this external identifier"
        style: simple
      - name: empty-reason
        in: query
        description: Why list is empty
        style: simple
      - name: item
        in: query
        description: Actual entry
        style: simple
      - name: code
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Code that identifies the allergy or intolerance\r\n* [Condition](condition.html):\
          \ Code for the condition\r\n* [DeviceRequest](devicerequest.html): Code\
          \ for what is being requested/ordered\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The code for the report, as opposed to codes for the atomic results, which\
          \ are the names on the observation resource referred to from the result\r\
          \n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition\
          \ code\r\n* [List](list.html): What the purpose of this list is\r\n* [Medication](medication.html):\
          \ Returns medications for a specific code\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations of this medication code\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses of this medicine code\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions of this medication code\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements of this medication code\r\n* [Observation](observation.html):\
          \ The code of the observation type\r\n* [Procedure](procedure.html): A code\
          \ to identify a  procedure\r\n* [ServiceRequest](servicerequest.html): What\
          \ is being requested/ordered"
        style: simple
      - name: notes
        in: query
        description: The annotation  - text content (as markdown)
        style: simple
      - name: subject
        in: query
        description: If all resources have the same subject
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: encounter
        in: query
        description: "Multiple Resources: \r\n\r\n* [Composition](composition.html):\
          \ Context of the Composition\r\n* [DeviceRequest](devicerequest.html): Encounter\
          \ during which request was created\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The Encounter when the order was made\r\n* [DocumentReference](documentreference.html):\
          \ Context of the document  content\r\n* [Flag](flag.html): Alert relevant\
          \ during encounter\r\n* [List](list.html): Context in which list created\r\
          \n* [NutritionOrder](nutritionorder.html): Return nutrition orders with\
          \ this encounter identifier\r\n* [Observation](observation.html): Encounter\
          \ related to the observation\r\n* [Procedure](procedure.html): Encounter\
          \ created as part of\r\n* [RiskAssessment](riskassessment.html): Where was\
          \ assessment performed?\r\n* [ServiceRequest](servicerequest.html): An encounter\
          \ in which this request is made\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this encounter identifier"
        style: simple
      - name: source
        in: query
        description: Who and/or what defined the list contents (aka Author)
        style: simple
      - name: title
        in: query
        description: Descriptive name for the list
        style: simple
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        style: simple
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        style: simple
      - name: patient
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care\
          \ plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n*\
          \ [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\
          \n* [Composition](composition.html): Who and/or what the composition is\
          \ about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html):\
          \ Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated\
          \ patient\r\n* [DeviceRequest](devicerequest.html): Individual the service\
          \ is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search\
          \ by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html):\
          \ The subject of the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Who/what is the subject of the document\r\n* [Encounter](encounter.html):\
          \ The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ The identity of a subject to list family member history items for\r\n\
          * [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html):\
          \ Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html):\
          \ Who the study is about\r\n* [Immunization](immunization.html): The patient\
          \ for the vaccination record\r\n* [List](list.html): If all resources have\
          \ the same subject\r\n* [MedicationAdministration](medicationadministration.html):\
          \ The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html):\
          \ The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html):\
          \ Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html):\
          \ Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html):\
          \ The identity of the person who requires the diet, formula or nutritional\
          \ supplement\r\n* [Observation](observation.html): The subject that the\
          \ observation is about (if patient)\r\n* [Procedure](procedure.html): Search\
          \ by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what\
          \ does assessment apply to?\r\n* [ServiceRequest](servicerequest.html):\
          \ Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html):\
          \ Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html):\
          \ The identity of a patient to list dispenses for"
        style: simple
      - name: _tag
        in: query
        description: Tags applied to this resource
        style: simple
      - name: _has
        in: query
        description: Return resources linked to by the given target
        style: simple
      - name: _source
        in: query
        description: Identifies where the resource comes from
        style: simple
      - name: _id
        in: query
        description: Logical id of this artifact
        style: simple
      - name: _text
        in: query
        description: Search on the narrative of the resource
        style: simple
      - name: _content
        in: query
        description: Search on the entire content of the resource
        style: simple
      - name: status
        in: query
        description: current | retired | entered-in-error
        style: simple
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
    post:
      tags:
      - List
      summary: "create-type: Create a new List instance"
      requestBody:
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
            example: |-
              {
                "resourceType": "List"
              }
          application/fhir+xml:
            schema:
              $ref: '#/components/schemas/FHIR-XML-RESOURCE'
            example: <List xmlns="http://hl7.org/fhir"/>
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/_history:
    get:
      tags:
      - List
      summary: "type-history: Fetch the resource change history for all resources\
        \ of type List"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/{id}/_history:
    get:
      tags:
      - List
      summary: "instance-history: Fetch the resource change history for all resources\
        \ of type List"
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
          example: null
        example: "123"
      responses:
        "200":
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              example: null
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
              example: null
  /List/_search:
    get:
      tags:
      - List
      summary: "search-type: Search for List instances"
      description: This is a search type
      parameters:
      - name: date
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Date first version of the resource instance was recorded\r\n* [CarePlan](careplan.html):\
          \ Time period plan covers\r\n* [CareTeam](careteam.html): Time period team\
          \ covers\r\n* [ClinicalImpression](clinicalimpression.html): When the assessment\
          \ was documented\r\n* [Composition](composition.html): Composition editing\
          \ time\r\n* [Consent](consent.html): When this Consent was created or indexed\r\
          \n* [DiagnosticReport](diagnosticreport.html): The clinically relevant time\
          \ of the report\r\n* [Encounter](encounter.html): A date within the period\
          \ the Encounter lasted\r\n* [EpisodeOfCare](episodeofcare.html): The provided\
          \ date search value falls within the episode of care's period\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ When history was recorded or last updated\r\n* [Flag](flag.html): Time\
          \ period when flag is active\r\n* [Immunization](immunization.html): Vaccination\
          \  (non)-Administration Date\r\n* [List](list.html): When the list was prepared\r\
          \n* [Observation](observation.html): Obtained date/time. If the obtained\
          \ element is a period, a date that falls in the period\r\n* [Procedure](procedure.html):\
          \ When the procedure was performed\r\n* [RiskAssessment](riskassessment.html):\
          \ When was assessment made?\r\n* [SupplyRequest](supplyrequest.html): When\
          \ the request was made"
        style: simple
      - name: identifier
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ External ids for this item\r\n* [CarePlan](careplan.html): External Ids\
          \ for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\
          \n* [Composition](composition.html): Version-independent identifier for\
          \ the Composition\r\n* [Condition](condition.html): A unique identifier\
          \ of the condition record\r\n* [Consent](consent.html): Identifier for this\
          \ record (external references)\r\n* [DetectedIssue](detectedissue.html):\
          \ Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html):\
          \ Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ An identifier for the report\r\n* [DocumentManifest](documentmanifest.html):\
          \ Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s)\
          \ by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ A search by a record identifier\r\n* [Goal](goal.html): External Ids for\
          \ this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the\
          \ Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html):\
          \ Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html):\
          \ Return nutrition orders with this external identifier\r\n* [Observation](observation.html):\
          \ The unique id for a particular observation\r\n* [Procedure](procedure.html):\
          \ A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html):\
          \ Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html):\
          \ Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html):\
          \ External identifier\r\n* [SupplyRequest](supplyrequest.html): Business\
          \ Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this external identifier"
        style: simple
      - name: empty-reason
        in: query
        description: Why list is empty
        style: simple
      - name: item
        in: query
        description: Actual entry
        style: simple
      - name: code
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Code that identifies the allergy or intolerance\r\n* [Condition](condition.html):\
          \ Code for the condition\r\n* [DeviceRequest](devicerequest.html): Code\
          \ for what is being requested/ordered\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The code for the report, as opposed to codes for the atomic results, which\
          \ are the names on the observation resource referred to from the result\r\
          \n* [FamilyMemberHistory](familymemberhistory.html): A search by a condition\
          \ code\r\n* [List](list.html): What the purpose of this list is\r\n* [Medication](medication.html):\
          \ Returns medications for a specific code\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations of this medication code\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses of this medicine code\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions of this medication code\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements of this medication code\r\n* [Observation](observation.html):\
          \ The code of the observation type\r\n* [Procedure](procedure.html): A code\
          \ to identify a  procedure\r\n* [ServiceRequest](servicerequest.html): What\
          \ is being requested/ordered"
        style: simple
      - name: notes
        in: query
        description: The annotation  - text content (as markdown)
        style: simple
      - name: subject
        in: query
        description: If all resources have the same subject
        style: simple
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        style: simple
      - name: _security
        in: query
        description: Security Labels applied to this resource
        style: simple
      - name: encounter
        in: query
        description: "Multiple Resources: \r\n\r\n* [Composition](composition.html):\
          \ Context of the Composition\r\n* [DeviceRequest](devicerequest.html): Encounter\
          \ during which request was created\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The Encounter when the order was made\r\n* [DocumentReference](documentreference.html):\
          \ Context of the document  content\r\n* [Flag](flag.html): Alert relevant\
          \ during encounter\r\n* [List](list.html): Context in which list created\r\
[...]
